*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FBFBFB;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}







.logo{
    font-size: 32px;
}
.sidebar{
    max-width: 300px;
    height: 100%;
    background-color: #FFFFFF;
    padding: 50px;
    border-left: 1px solid #F2F2F2;
}

.container{
    width: 1081px;
    
    padding: 20px;
    padding-right: 40px;
    margin-left: 50px;
    position: relative;
}

.user-details{
    
    position: absolute;
    top: 20px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    
}
.user-profile{
    display: flex;
    gap:10px;
}
.avatar{
    width:36px;
    height: 36px;
    background-color: #FFC145;
    border-radius: 100%;

}

.user-profile{
    display: flex;
    flex-direction: column;
}

.user-name h1{
    font-size: 14px;
    color: #404040;
    font-family: DM Sans;
    font-weight: 700;
}

.user-block h1{
    font-size: 14px;
    font-family: DM Sans;
    color: #AEAEAE;
    font-weight: 400;
}



h1{
    color: #832131;
    font-family: Quicksand;
    font-size: 48px;
    font-weight: 700;
}

a{
    text-decoration: none;
}

.sidebars-nav{
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-top: 50px;
}

.sidebars{
    display: flex;
    font-family: Montserrat;
    gap: 30px;
    color: #C7C7C7;
    width: 208px;
    height: 40px;
    
    
}

.sidebars :hover{
 background-color: #FCE8EB;
 
}
i{
    
}

.main-content{
    margin-top: 90px;
}


.button{
    width: 220px;
    height: 44px;
    background-color: #832131;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border-radius: 16px;
}

.searchbox{
    display: flex;
    width: 513px;
    height: 40px;
    align-items: center;
    justify-content: center;
   
}

.searchbox input{
    width: 423px;
    height: 40px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #BDBDBD;
}

.search-container{
    display: flex;
   
    gap: 250px;
    width: 1081px;
}

.search-button{
    width: 90px;
    height: 40px;
    background-color: #832131;
    
    border-radius: 0px 8px 8px 0px;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date-search{
    display: flex;
    gap: 60px;
    align-items: center;
}

select{
    width: 113px;
    height: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 10px;
    color: #333333;
}
.date-selector{
    display: flex;
    gap: 10px;
    width: 99px;
    height: 40px;
    border: 1px solid #BDBDBD;
    justify-content: center;
    align-items: center;
    color: #4F4F4F;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;

}

.date-selector i{
    font-size: 20px;
    
}

.tableandfilter{
    margin-top: 48px;
    display: flex;
}

.filter{
    width: 140px;
    height: 646px;
    border-right: 1px solid #BDBDBD;
    
    
    color: #4F4F4F;
    font-family: DM Sans;
    gap: 20px;
    
}

.filter-head{
    display: flex;
    align-items: center;
    
    gap: 10px;
    margin-top: 20px;
}

.filter-head i{
    font-size: 20px;
    color: #333333;
}

.filter h1{
     font-size: 16px;
     font-weight: 700;
     font-family: DM Sans;
}


.checkbox{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 19px;
   
}

.checkbox {
    
}


.checkbox input p{
    font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
    color: #4F4F4F;
}
label{
    display: flex;
    gap: 10px;
    position: relative;
}
label span{
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 3px;
    border: 2px solid #832131;
}

.table{
    width: 1082px;
    height: 100vh;
    border-spacing: 9px;
}


table, th, td {
    
    padding-left: 0;
    
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    color: #404040;
    
    
    
}
th, td{
    padding: 20px;
    padding-left: 0;
    
}
thead{
    border-bottom: 1px solid #2E2E2E ;
    border: 2px;
   
}
tr{
    
    text-align: left;
    border-bottom: 2px solid #2E2E2E;
    color: #404040;
   
    
}

.next{
    display: flex;
   align-items: center;
   justify-content: end;
   gap: 30px;
   padding-right: 30px;
}
th{
    font-weight: 400;
   
}
i{
    font-size: 16px;
    
}

button{
    width: 114px;
    border-radius: 8px;
    background-color: #832131;
    color: #FFFFFF;
    border: none;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.next p{
    font-family: "Montserrat", sans-serif;
}

.name{
    color: #333333;
    font-weight: 700;
}

td

span{
    font-weight: 700;
    color: #828282;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    gap: 40px;
}

.profilephoto{
    display: flex;
    font-family: "Montserrat", sans-serif;
    gap: 20px;
}

.staffname h2{
    font-size: 30px;
    margin-top: 20px;
}

.staffname p{
    font-size: 14px;
    margin-top: 10px;
}

.profiledetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    width: 400px;
    
    margin-top: 20px;
    
    
    
}

.row1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #434343;
}

.row2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #434343;
    align-items: end;
    
}

.adminid{
    font-weight: 700;
    font-size: 40px;
}

.delete{
    background-color: #FF7D7D;
}