*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    
    
}

nav{
    margin: 40px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.logo{
    font-size: 32px;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

h1{
    color: #832131;
    font-family: Quicksand;
    font-size: 48px;
    font-weight: 700;
}

h2{
    color: #2E2E2E;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
}

h3{
    color: #4E4E4E;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.button{
    background-color: #832131;
    width: 349px;
    border-radius: 6px;
    height: 49px;
    padding: 14px, 100px, 14px, 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}

p{
    color: #FFFFFF;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    
}

button{
    font-family: "Montserrat", sans-serif;
    width: 114px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.login{
    border: 1px solid #4F4F4F;
    font-weight: 700;
    color: #4F4F4F;
    
}

.signup{
    background-color: #832131;
    color: #FFFFFF;
    font-weight: 700;
    margin-left: 10px;
    border: none;
}

.user-profile{
    display: flex;
    gap:10px;
}
.avatar{
    width:36px;
    height: 36px;
    background-color: #FFC145;
    border-radius: 100%;

}
.user-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.user-profile{
    display: flex;
    flex-direction: column;
}

.user-name h1{
    font-size: 14px;
    color: #404040;
    font-family: DM Sans;
    font-weight: 700;
}

.user-block h1{
    font-size: 14px;
    font-family: DM Sans;
    color: #AEAEAE;
    font-weight: 400;
}

